@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}

/* 모바일 ~ 649px + 공통 */

#wrap {
    font-family: 'Trebuchet MS',sans-serif;
}
header .hd-line {
    display: block;
    border-top: 10px solid #000;
    box-sizing: border-box;
    margin-bottom: 30px;
}
#content {
    padding: 0 50px;
}
.logo {
    text-align: center;
    margin-top: -10px;
}
.logo a:hover {
    color: #555;
}
.logo a {
    font-weight: bold;
    font-size: 24px;
    transition: 0.3s;
}
/* .gnb {
    margin: 10px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.gnb li a {
    font-weight: bold;
    font-size: 14px;
    transition: 0.3s;
}
.gnb li:hover a {
    color: #555;
} */
.toggle {
    position: absolute;
    display: block;
    width: 23px;
    height: 3px;
    top: 44px;
    right: 30px;
}
.toggle span {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
}
.toggle span:nth-child(2) {
    margin: 3px 0;
}
nav {
    display: block; /*transition을 주기 위해 display를 block*/
    opacity: 0; /*하지만 사진 뒤로 메뉴가 보이기 때문에 opacity를 0*/
    height: 0;
    transition: 0.5s; /*부드러운 동작을 위해 transition을 줬고, opacity와 height 둘 다 
    transition을 주기 위해 all(생략)을 줌*/
}
nav.on {
    opacity: 1;
    display: block;
    height: 40px;
}
.gnb {
    margin: 10px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.gnb li a {
    font-weight: bold;
    font-size: 14px;
    transition: 0.3s;
}
.gnb li:hover a {
    color: #555;
}
.img-box li {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    font-size: 0;
}
.img-box li img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transition: 0.5s;
}
.img-box .txt {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: 0.5s;
    color: #eee;
    font-size: 5vw;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-box li:hover .txt {
    opacity: 1;
}
.img-box li:hover img {
    filter: grayscale(0);
}
footer .sns {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 20px 0 40px;
}
footer .ft-line {
    display: block;
    border-bottom: 10px solid #000;
    box-sizing: border-box;
}

/* 태블릿 650px ~ 1023px */
@media screen and (min-width: 650px) {
    .logo {
        margin-top: 20px;
    }
    .logo a {
        font-size: 32px;
    }
    nav {
        display: block; 
        height: 100%; /*height 0 준 거 다시 돌려놓는 작업*/
        opacity: 1; /*opacity 0 준 거 다시 1로 돌려놓는 작업*/
    }
    .toggle {
        display: none;
    } /*태블릿 화면부턴 햄버거 메뉴가 사라져야 하므로*/
    .gnb {
        margin: 10px 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .gnb li a {
        margin: 10px 0;
        font-weight: bold;
        font-size: 18px;
        transition: 0.3s;
    }
    .gnb li:hover a {
        color: #555;
    }
    .img-box {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .img-box li {
        box-sizing: border-box;
        width: 48%;
    }
    .img-box img {
        width: 100%;
        height: 100%;
    }
}

/* PC 1024px ~ */
@media screen and (min-width: 1024px) {
    .inner { 
        max-width: 1480px;
        margin: 0 auto;
    }
    header {
        padding: 50px 0;
    }
    header .hd-line {
        display: none;
    }
    header>.inner {
        display: flex;
        flex-flow: row wrap;
        padding-left: 70px;
    }
    .logo {
        margin-top: -0.1%;
    }
    .gnb li {
        margin: 0 30px;
    }
    .img-box {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .img-box li {
        box-sizing: border-box;
        width: 33%;
    }
    footer .sns {
        display: block;
        text-align: right;
    }
    footer .sns a {
        margin: 0 30px;
    }
    footer .ft-line {
        display: none;
    }
}
