@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    text-align: center; /* 중앙 배치 */
}
.inner {
    margin: 0 auto; /* 본인을 중앙 */
    max-width: 1980px; /* 최대 width 1980px 고정 */
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}

#header {
    .inner {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        .gnb {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            width: 100%;
            height: 100px;
            position: fixed;
            background-color: #fff;
            li {
                width: 25%;
                line-height: 100px;
                a {
                    font-size: 18px;
                    font-weight: 700;
                }
            }
        }
    }
}