* {
    margin: 0;
    padding: 0;
}
.order-nav {
    display: flex;
    flex-direction: row;
    height: 40px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}
.order-nav-lbtn {
    width: 10%;
    height: 40px;
}
.order-nav-lbtn img {
    width: 20px;
    height : 20px;
    /* prev */
    margin-top: 10px;
}
.order-nav-rbtn {
    width: 20%;
}
.order-nav-rbtn img {
    width: 24px;
    height: 24px;
    /* next, vertical menu */
    margin-top: 8px;
}
.order-nav-md {
    width:70%;
}
.order-nav-md ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    overflow: auto;
}
.order-nav-md ul li {
    width: 100px;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    color: #999;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* ... 효과 */
}
.order-nav-md ul li:hover {
    font-size: 15px;
    color: #000;
}
.order-nav-md ul li .on {
    border-bottom: 3px solid #143776;
    /* hover 했을 때 on 클래스 붙이기 */
}

/* order-hd */
.order-hd {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 70px;
}
.order-hd-lbtn {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 10%;
}
.order-hd-lbtn img:nth-of-type(1) {
    width: 16px;
    height: 16px;
    margin-top: 27px;
    /* < btn */
}
.order-hd-lbtn img:nth-of-type(2) {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    /* candlestick */
}
.order-hd-rbtn {
    width: 5%;
}
.order-hd-rbtn img {
    width: 20px;
    height: 20px;
    margin-top: 25px; /* 중앙 배치 */
    /* > btn */
}
.order-candle img {
    width: 100%;
}
.order-ux {
    display: flex;
    flex-direction: column;
}
.order-ux-top ul{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0;
    padding: 0;
}
.order-ux-top ul li {
    font-size: 11px;
}
.order-ux-top ul li:nth-of-type(1) {
    border: 1px solid #aaa;
    border-radius: 10px;
    color: #aaa;
    display: block;
    width: 50px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
.order-ux-top ul li:nth-of-type(2) {
    border: 1px solid rgb(182, 100, 199);
    border-radius: 10px;
    color: rgb(182, 100, 199);
    width: 45px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin: 0 5px; /* 양 사이드에 마진 ('무료'랑 티커) */
}
.order-ux-top ul li:nth-of-type(3) {
    color: #777;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
}
.order-ux-top ul li:nth-of-type(5) {
    margin: 0 10px;
}
.order-ux-btm {
    display: flex;
    flex-direction: row;
}

/*order-ux-btm*/
.order-ux-btm {
    height: 50%; /* 높이 반반 먹기 */
    width: 100%; /* 너비 다 주기 */
    margin: 0;
    padding: 0;
}
.order-title-stocks {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    line-height: 35px;
}
.order-title-stocks p {
    color: #385ad8;
}
.order-title-stocks p:nth-of-type(1) {
    color: #000;
    font-size: 14px;
    font-weight: 700;
}
.order-title-stocks p:nth-of-type(2) {
    font-size: 17px;
    font-weight: 700;
    color : #385ad8;
}
.order-title-stocks p:nth-of-type(3) {
    text-align: right;
}
.order-title-stocks p:nth-of-type(4) {
    text-align: right;
}
.order-nav-2 {
    background-color: rgb(68, 94, 141);
    height: 30px;
}
.order-nav-2 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    height: 30px;
}
.order-nav-2 ul li {
    font-size: 14px;
    color: #ccc;
    font-weight: 700;
    height: 30px; /* on class 붙일 때 밑줄을 ul height와 같게 하려고 */
    line-height: 30px; /* 세로 가운데 정렬 */
}
.order-nav-2 ul li:hover {
    color: #fff;
}
.order-nav-2 ul li .on {
    border-bottom: 3px solid #fff;
}


/* order main */
.order-main {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
}
.asking-price {
    width: 40%; /* 호가창 40%만 주기 */
    border: 1px solid #eee;
    padding-right: 1px;
}
.ap-chart {
    height: 11%;
    text-align: center;
}
.ap-chart img {
    margin-top: -40px; /* 사진 올리기 */
    width: 150px;
    height: 128px;
}
.ap-btn {
    margin-top: -39px; /* 버튼 올리기 */
    width: 100%;
}
.ap-btn button {
    border: 1px solid rgb(68, 94, 141);
    border-radius: 1px;
    width: 33%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: rgb(68, 94, 141);
    font-weight: 800;
}
.ap-btn button:hover {
    color: #fff;
    background-color: rgb(141, 142, 161);
}
.ap-box {
    width: 100%;
    height: 75%;
    overflow: auto;
}
.sell-box {
    background-color: rgb(238, 245, 255);
    display: flex;
    flex-direction: row;
    margin: 2px 0;
    height: 30px; /* 한 호가창 당 높이 30px */
}
.sell-left {
    width: 70%;
    border-right: 1px solid #ddd;
    text-align: right;
    padding-right: 3px; /* 매도 호가창 달러 text-align right 한 거 오른쪽 살짝 띄우기 */
}
.sell-box p {
    height: 13px;
    font-size: 16px;
    color: #385ad8;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.sell-box p:nth-of-type(2) {
    font-size: 13px;
    font-weight: 400;
    color: #999;
}
.sell-right {
    padding-left: 5px; /* 매도 호가창 퍼센티지 가로 가운데 정렬 */
}
.sell-right p {
    font-size: 11px;
    line-height: 30px; /* 매도 호가창 퍼센티지 세로 가운데 정렬 */
    text-align: center;
}



.buy-box {
    background-color: rgb(255, 242, 242);
    display: flex;
    flex-direction: row;
    margin: 2px 0;
    height: 30px;
}
.buy-left {
    width: 70%;
    border-right: 1px solid #ddd;
    text-align: right;
    padding-right: 3px; /* 매수 호가창 달러 text-align에서 살짝 띄우기 */
}
.buy-box p {
    height: 13px;
    font-size: 16px;
    color: #385ad8;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.buy-box p:nth-of-type(2) {
    font-size: 13px;
    font-weight: 400;
    color: #999;
}
.buy-right {
    padding-left: 5px; /* 매수 호가창 퍼센티지 가로 가운데 정렬 */
}
.buy-right p {
    font-size: 11px;
    line-height: 30px; /* 매도 호가창 퍼센티지 세로 가운데 정렬 */
}

/* order input과 button */
.order-tab {
    width: 60%; /* 주문창 60%*/
    padding: 10px;
}
.order-select-account {
    margin-bottom: 10px; /* 아래 여백 */
}
.order-select-account>select {
    width: 100%;
    border: 1px solid #ccc;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}
.order-pw {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px; /* 아래 여백 */
    height: 30px;
    font-size: 12px; /* placeholder font size 작게 */
}
.order-pw>input:nth-of-type(1) {
    width: 25%;
    border: 1px solid #495faf;
    background-color: #fff;
    font-size: 15px;
    color: #495faf;
}
.order-pw>input:nth-of-type(2) {
    width: 70%;
    border: 1px solid #ccc;
}

/* 지정가 등 종류 */
.order-input {
    color: #999; /* dt 폰트 색상 */
    font-size: 14px;
}
.order-input dt {
    width: 25%;
    text-align: left;
    font-size: 12px;
}
.order-input dd {
    width: 71%; /* 위에 비밀번호 input이랑 사이즈 맞추기 */
    text-align: left;
}
/* 여기까지 dt dd 30% 70% 나누기 */

/* input 종류 */
.order-input-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.order-input-type dt {
    line-height: 38px;
}
.order-input-type dd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 8px; /* checkbox 미수 font size*/
    color: #000;
    text-align: center;
    line-height: 30px;
}
.order-input-type dd select {
    width: 70%;
    height: 30px;
    border: 1px solid #ccc;
    font-size: 12px; /* 지정가 font size */
}
.order-input-type dd input {
    width: 14px;
    margin-top: 8px; /* 체크 박스 세로 가운데 정렬 */
}

/* input 수량 */
.order-input-vol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.order-input-vol dt {
    line-height: 38px;
    text-align: left;
}
.order-input-vol dd {
    margin: 0;
    padding: 0;
}
.order-input-vol dd>input:nth-of-type(1) {
    width: 15%;
    height: 30px;
    border: 1px solid #ccc;
    color: #999;
    font-size: 13px;
    font-weight: 700;
}
.order-input-vol dd>input:nth-of-type(2) {
    width: 70%;
    height: 30px; /* order - input 박스 통일 height */
    border: 1px solid #ccc;
    border-left: none; /* 수량 + - 사이 겹치는 부분 일정한 두께 주는 디테일함 */
    border-right: none; /* 수량 + - 사이 겹치는 부분 일정한 두께 주는 디테일함 */
}
.order-input-vol dd>input:nth-of-type(3) {
    width: 15%;
    height: 30px;
    border: 1px solid #ccc;
    color: #999;
    font-size: 13px;
    font-weight: 700;
}

/* input 수량 밑에 가능 */
.order-input-can-btn {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.order-input-can-btn select {
    width: 50%;
    border: 1px solid #ccc;
}
.order-input-can-btn input {
    width: 40%;
    height: 30px;
    background-color: #fff;
    border: 1px solid #495faf;
    color: #495faf;
}

/* order input usd 가격 */
.order-input-usd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.order-input-usd dt {
    text-align: left;
}
.order-input-usd dd {
    display: flex;
    flex-direction: row;
}
.order-input-usd dd>input:nth-of-type(1) {
    width: 15%;
    height: 30px;
    border: 1px solid #ccc;
}
.order-input-usd dd>input:nth-of-type(2) {
    width: 70%;
    height: 30px;
    background-color: #f5f2c9;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    line-height: 30px;
    text-align: center;
    color: #143776;
    font-weight: 700;
}
.order-input-usd dd>input:nth-of-type(3) {
    width: 15%;
    height: 30px;
    border: 1px solid #ccc;
}

/* order input krw 가격 */
.order-input-krw {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.order-input-krw dt {
    text-align: left;
}
.order-input-krw dd {
    display: flex;
    flex-direction: row;
}
.order-input-krw dd>input:nth-of-type(1) {
    width: 15%;
    height: 30px;
    border: 1px solid #ccc;
}
.order-input-krw dd>input:nth-of-type(2) {
    width: 70%;
    height: 30px;
    background-color: #f5f2c9;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    line-height: 30px;
    text-align: center;
    color: #143776;
    font-weight: 700;
}
.order-input-krw dd>input:nth-of-type(3) {
    width: 15%;
    height: 30px;
    border: 1px solid #ccc;
}






.order-input-usd {
    display: flex;
    flex-direction: row;
}
.order-input-usd dt {}
.order-input-usd dd {}

.order-input-krw {
    display: flex;
    flex-direction: row;
}
.order-input-krw dt {}
.order-input-krw dd {}

.exchange-rate {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 242, 242);
    padding: 3px 5px;
    color: #777;
    font-weight: 400;
    font-size: 13px;
}
.ex-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3px; /* 아래 ex-btm과의 간격 */
}
.ex-top div {
    width: 20%;
}
.ex-top div:nth-of-type(1) {
    width: 40%;
    text-align: left;
}
.ex-top div:nth-of-type(3) {
    width: 40%;
    text-align: right;
    background-color: #fff;
}
.ex-btm {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.ex-btm div {
    width: 20%;
}
.ex-btm div:nth-of-type(1) {
    width: 40%;
    text-align: right;
    background-color: #fff;
}
.ex-btm div:nth-of-type(3) {
    width: 40%;
    text-align: right;
    background-color: #fff;
}

/* order 하단 매수 주문 버튼 바 */
.order-btn-bar {
    /* width: 375px; */
    height: 40px; /* height를 50px 줄 건데, padding 위 아래 5px 주고 높이는 40px로 줘서 맞추기 */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #e9b7ce;
    margin: 0; /* 여백 제거 */
    padding: 5px 0; /* 위 아래 5px padding 줘서 합 10px 주기 */
    line-height: 30px; /* height 40 - padding 10 = 30px 주기 */
}
.order-btn-bar li {
    padding: 0 8px;
    color: rgb(84, 84, 131);
    border: 2px solid rgb(84, 84, 131);
    background-color: #fff;
    font-size: 14px;
    font-weight: 700;
}
.order-btn-bar li:nth-of-type(4) {
    padding: 0 12px;
    color: #999;
    border: 2px solid #ccc;
    background-color: #eee;
}
.order-btn-bar li:nth-of-type(5) {
    padding: 0 18px;
    color: #fff;
    border: none;
    background-color: rgb(228, 81, 154);
    font-size: 17px;
    font-weight: 700;
    
}
