.footer {
    height: 30px;
    background-color: #000;
    padding-top: 15px;
    z-index: 999;
}
.footer span {
    display: block;
    width: 50%;
    height: 4px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
}
.footer:hover {
    animation: homeBar 0.3s; /* 아이폰 메뉴 바 ui 동작 구현 */
}
@keyframes homeBar {
    100% {
        padding-top: 0;
    }
}