.App {
  max-width: 414px; /* iPhone XR */
  min-width: 375px; /* iPhone SE */
  box-sizing: border-box;
  margin: 0 auto; /* 중앙 배치 */
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}