.App {
  text-align: center;
  /* iPhone X 고정 값 */
  width: 375px;
  height: 812px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  overflow: hidden; /* 초기에 개발자 도구 들어가기 전까지 이 외에 것들 안 보여주기 위해서 */
}
li {
  list-style: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
